<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}Anan Alleya</title>
  <link rel="stylesheet" href="/assets/css/main.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mogra&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap" rel="stylesheet">
</head>


<body{% if page.url != '/' %} class="scrollable-page"{% endif %}>


  <script src="/assets/js/site-name.js"></script>

  <!-- Navigation -->
  <nav>
    <a href="/">Home</a> |
    <a href="/blog">Blog</a> |
    <a href="/gallery">Gallery</a> |
    <a href="/about">About</a>
  </nav>
  
  <!-- Main content -->
  {{ content | safe }}

  

</body>
</html>