---
layout: layouts/base.njk
permalink: /404.html
---

<div class="content-container">
  <h1>Page Not Found</h1>
  <p>Sorry, the page you're looking for doesn't exist.</p>
  <p>It might be a tag that doesn't have any content yet, or a URL that has been mistyped.</p>
  <p><a href="/">Return to the homepage</a> or <a href="/tags/">view all tags</a>.</p>
</div>